{% load static %}
<!-- Delivery and payment -->
<div class="bg-light">
	<div class="container pb-5">
		<div class="row">
			<div class="col-lg-4 col-12 mt-3 mt-lg-5 px-4">
				<h3 class="text-secondary">Доставка</h3>
				<div class="row p-0 p-md-3">

					<div class="col-3 col-lg-6 p-2 p-md-0 mr-0 mr-md-3" style="max-width: 110px; max-height: 110px;">
						<a href="#">
							<img src="{% static 'image/Dostavka_1.png' %}" class="w-100 h-100">
						</a>
					</div>

					<div class="col-3 col-lg-6 p-2 p-md-0" style="max-width: 110px; max-height: 110px;">
						<a href="#">
							<img src="{% static 'image/Dostavka_2.png' %}" class="w-100 h-100">
						</a>
					</div>

					<div class="col-6 col-lg-12 p-2 p-md-0 mt-lg-3 mt-0 ml-lg-0 ml-md-3 ml-0" style="max-width: 237px; max-height: 110px;">
						<a href="#">
							<img src="{% static 'image/Dostavka_3.png' %}" class="w-100 h-100">
						</a>
					</div>

				</div>
			</div>

			<div class="col-lg-4 col-12 mt-3 mt-lg-5 px-4">
				<h3 class="text-secondary">Оплата</h3>
				<div class="row p-0 p-md-3">

					<div class="col-3 col-lg-6 p-2 p-md-0 mr-0 mr-md-3" style="max-width: 110px; max-height: 110px;">
						<a href="#">
							<img src="{% static 'image/Oplata_1.png' %}" class="w-100 h-100">
						</a>
					</div>

					<div class="col-3 col-lg-6 p-2 p-md-0" style="max-width: 110px; max-height: 110px;">
						<a href="#">
							<img src="{% static 'image/Oplata_2.png' %}" class="w-100 h-100">
						</a>
					</div>

					<div class="col-6 col-lg-12 p-2 p-md-0 mt-lg-3 mt-0 ml-lg-0 ml-md-3 ml-0" style="max-width: 237px; max-height: 110px;">
						<a href="#">
							<img src="{% static 'image/Oplata_3.png' %}" class="w-100 h-100">
						</a>
					</div>

				</div>
			</div>

			<div class="col-lg-4 col-12 mt-3 mt-lg-5 px-4">
				<h3 class="text-secondary">Соц. сети</h3>
				<div class="row p-0 p-md-3">

					<div class="col-3 col-lg-6 p-2 p-md-0 mr-0 mr-md-3" style="max-width: 110px; max-height: 110px;">
						<a href="#">
							<img src="{% static 'image/Sots_seti_1.png' %}" class="w-100 h-100">
						</a>
					</div>

					<div class="col-3 col-lg-6 p-2 p-md-0 mr-0 mr-md-3" style="max-width: 110px; max-height: 110px;">
						<a href="#">
							<img src="{% static 'image/Sots_seti_2.png' %}" class="w-100 h-100">
						</a>
					</div>

					<div class="col-3 col-lg-6 p-2 p-md-0 mt-lg-3 mt-0 mr-0 mr-md-3" style="max-width: 110px; max-height: 110px;">
						<a href="#">
							<img src="{% static 'image/Sots_seti_3.png' %}" class="w-100 h-100">
						</a>
					</div>

					<div class="col-3 col-lg-6 p-2 p-md-0 mt-lg-3 mt-0" style="max-width: 110px; max-height: 110px;">
						<a href="#">
							<img src="{% static 'image/Sots_seti_4.png' %}" class="w-100 h-100">
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>