{% extends 'base_templates.html' %}

{% block title %}PrintoPlace - Новый пароль{% endblock %}
{% block content_class %}bg-light h-100-60{% endblock %}
{% block content %}
<!-- Login form -->
<div class="py-5">
	<div class="container">
		<div class="text-center mb-4">
			<h3>Новый пароль</h3>
		</div>
		<div class="d-flex justify-content-center" >
			<div class="d-inline-flex p-4 bd-highlight rounded border bg-white">
				<form class="w-16rem">
					<div class="form-group">
						<label for="exampleInputPassword1">Введите пароль</label>
						<input type="password" class="form-control" id="exampleInputPassword1">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword2">Подтвердите пароль</label>
						<input type="password" class="form-control" id="exampleInputPassword2">
					</div>
					<div class="row px-3 mt-4">
						<a href="login.html" type="submit" class="btn btn-primary ml-auto">Обновить</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}