{% extends 'base_templates.html' %}
{% load crispy_forms_tags %}

{% block title %}PrintoPlace - Стать исполнителем{% endblock %}
{% block content_class %}bg-light h-100-60{% endblock %}
{% block content %}
<!-- Login form -->
<div class="py-5">
	<div class="container">
		<div class="text-center mb-4">
			<h3>Стать исполнителем</h3>
		</div>
		<div class="d-flex justify-content-center" >
			<div class="d-inline-flex p-4 bd-highlight rounded border bg-white">
				<form method="post" class="w-16rem">
					{% csrf_token %}
					<input type="hidden" name="next" value="{{ next }}">

					<div id="div_id_inn" class="form-group">
						<label for="id_inn" class=" requiredField">
							ИНН<span class="asteriskField">*</span>
						</label>
						<div>
							<input type="number" name="inn" min="0" maxlength="12" class="textinput textInput form-control inn-input" required="" id="id_inn"
										 style="
										 -webkit-inner-spin-button {
										 		-webkit-appearance: none;
										 }">
						</div>
						<button class="btn btn-outline-my btn-sm mt-2" onclick="search_inn()" type="button">Поиск</button>
					</div>

					<div id="div_id_company_name" class="form-group">
						<label for="id_company_name">
							Название компании<span class="asteriskField">*</span>
						</label>
						<div class="">
							<input type="text" name="company_name" maxlength="64"
										 class="textinput textInput form-control"
										 id="id_company_name" value="{{ request.user.company_name }}">
						</div>
					</div>

					<div id="div_id_phone_number" class="form-group">
						<label for="id_phone_number">
							Номер телефона<span class="asteriskField">*</span>
						</label>
						<div class="">
							<input type="tel" name="phone_number" maxlength="12"
										 class="textinput textInput form-control" id="id_phone_number"
										 value="{{ request.user.phone_number }}">
						</div>
					</div>

					<div id="div_id_company_files" class="form-group">
						<label for="id_company_files">
                Документы<span class="asteriskField">*</span>
            </label>
						<div>
							<input type="file" name="company_files" class="clearablefileinput form-control-file" id="id_company_files">
						</div>
						<small class="form-text text-muted">Прикрепите юридические документы для верификации аккаунта.</small>
					</div>

					<div class="row px-3 mt-4">
						<a href="/personal_account/" class="btn btn-outline-my">Назад</a>
						<button type="submit" class="btn btn-primary ml-auto">Отправить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}