{% extends 'base_templates.html' %}
{% load static %}

{% block title %}PrintoPlace - Товары{% endblock %}
{% block content %}
<!-- Products list -->
<div class="bg-light py-5">
	<div class="container">
		<h3 class="text-secondary pb-4">Товары</h3>
		<form method="post">
			{% csrf_token %}
			<input type="hidden" name="next" value="">
			<div class="bg-white rounded d-flex flex-column flex-md-row justify-content-center justify-content-md-between p-3">
				<div class="pt-1">
					<p class="d-inline text-secondary pr-0 pr-md-1">Сортировать</p>
					<select class="d-inline form-control form-control-sm w-14rem mb-2 mb-md-0" name="sort">
						<option value="price_up" {% if sort == 'price_up' %}selected{% endif %}>По возрастанию цены</option>
						<option value="price_down" {% if sort == 'price_down' %}selected{% endif %}>По убыванию цены</option>
						<option value="popularity" {% if sort == 'popularity' %}selected{% endif %}>По популярности</option>
						<option value="name" {% if sort == 'name' %}selected{% endif %}>По наименованию</option>
					</select>
				</div>

				<div class="form-group d-flex m-0">
					<input type="text" class="form-control w-16rem mr-2" placeholder="Поиск по товарам" name="search" value="{% if search != None %}{{ search }}{% endif %}">
					<button class="btn btn-outline-my" type="submit">Применить</button>
				</div>
			</div>
		</form>

		<div class="row mt-3">
			<div class="col-12 col-md-3 pr-3 pr-md-0">
				<div class="bg-white rounded p-3">
					<div class="nav row nav-pills px-3" role="tablist" aria-orientation="vertical">
						<a class="nav-link col-12 active" id="all_tab" data-toggle="pill" href="#all" role="tab" aria-controls="all" aria-selected="true">Все</a>
						{% for category in category_list %}
						<a class="nav-link col-12" id="category{{ category.0 }}_tab"
							 data-toggle="pill" href="#category{{ category.0 }}"
							 role="tab" aria-controls="category{{ category.0 }}"
							 aria-selected="false">{{ category.1 }}</a>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="tab-content col-12 col-md-9 pt-3 pt-md-0">
				<div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all_tab">
					{% for one_prod in products %}
					{% url 'one_product' one_prod.slug as product_path %}
					<div class="bg-white rounded p-3 mb-3">
						<div class="row">
							<div class="col-12 col-md-3 text-center py-2">
								<a href="{{ product_path }}">
									<img src="{% get_static_prefix %}image/icon/{{ one_prod.slug }}.svg">
								</a>
							</div>
							<div class="col-12 col-md-9 pl-3 pl-md-0">
								<div class="text-secondary">
									<h4>{{ one_prod.name }}</h4>
									<p>{{ one_prod.description }}</p>
								</div>
								<div class="d-flex justify-content-between text-secondary">
									<h3 class="">{{ one_prod.price }}p</h3>
									<a href="{{ product_path }}" type="button" class="btn btn-primary pl-auto">Заказать</a>
								</div>
							</div>
						</div>
					</div>
					{% empty %}
					<div class="bg-white rounded p-3 mb-3">
						<h3 class="text-center text-secondary my-4">Ничего не найдено!</h3>
					</div>
					{% endfor %}
				</div>

				{% for category in category_list %}
				<div class="tab-pane fade" id="category{{ category.0 }}" role="tabpanel" aria-labelledby="category{{ category.0 }}_tab">
					{% for one_prod in category.2 %}
					{% url 'one_product' one_prod.slug as product_path %}
					<div class="bg-white rounded p-3 mb-3">
						<div class="row">
							<div class="col-12 col-md-3 text-center py-2">
								<a href="{{ product_path }}">
									<img src="{% get_static_prefix %}image/icon/{{ one_prod.slug }}.svg">
								</a>
							</div>
							<div class="col-12 col-md-9 pl-3 pl-md-0">
								<div class="text-secondary">
									<h4>{{ one_prod.name }}</h4>
									<p>{{ one_prod.description }}</p>
								</div>
								<div class="d-flex justify-content-between text-secondary">
									<h3 class="">{{ one_prod.price }}р</h3>
									<a href="{{ product_path }}" type="button" class="btn btn-primary pl-auto">Заказать</a>
								</div>
							</div>
						</div>
					</div>
					{% empty %}
					<div class="bg-white rounded p-3 mb-3">
						<h3 class="text-center text-secondary my-4">Ничего не найдено!</h3>
					</div>
					{% endfor %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% include 'includes/contact_info.html' %}

{% include 'includes/delivery_payment.html' %}

{% include 'includes/footer.html' %}
{% endblock %}