{% extends 'base_templates.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}PrintoPlace - {{ product.name }}{% endblock %}
{% block content_class %}bg-light h-100-60{% endblock %}
{% block content %}
<!-- Settings product -->
<div class="py-5">
	<div class="container">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="hidden" name="next" value="">

			<div class="row">
				<div class="col-12 col-md-8">
					<div id="div-design-1" style="display: block;">
						<div class="mx-auto" id="design-1" style="height: 355px; width: 252px;">
							<div class="mt-5" id="load_file-1" style="
									height: 355px;
									width: 252px;
									background-image: url(/static/image/cal-2.svg);
									background-repeat: no-repeat;">
								<img class="design" src="{{ product_data.design.url }}">
							</div>
						</div>

						<div class="d-flex justify-content-center p-3 mt-3">
							<button type="button" class="btn btn-outline-secondary rounded-circle rotate-btn" disabled><i class="fas fa-angle-left"></i></button>
							<p class="text-secondary my-auto mx-3">Обложка</p>
							<button type="button" class="btn btn-outline-secondary rounded-circle rotate-btn" onclick="set_design_page(2, 1)">
								<i class="fas fa-angle-right"></i>
							</button>
						</div>

						<div class="bg-white rounded p-3 mt-3">
							<div class="custom-file">
								<input type="file" name="design" class="custom-file-input" onchange="handle_files(this.files, 1)">
								<label class="custom-file-label" id="label-1" data-browse="Загрузить">Загрузить оформление</label>
							</div>
							<div class="pt-2">
								<a class="text-secondary" href="https://yadi.sk/d/0csN12NBusKSTA?w=1">Шаблоны</a>
							</div>
						</div>
					</div>

					<div id="div-design-2" style="display: none;">
						<div class="mx-auto" id="design-2" style="height: 355px; width: 252px;">
							<div class="mt-5" id="load_file-2" style="
									height: 355px;
									width: 252px;
									background-image: url(/static/image/cal-2.svg);
									background-repeat: no-repeat;">
								<div class="design bg-white" style="height: 355px;"></div>
							</div>
						</div>

						<div class="d-flex justify-content-center p-3 mt-3">
							<button type="button" class="btn btn-outline-secondary rounded-circle rotate-btn" onclick="set_design_page(1, 2)">
								<i class="fas fa-angle-left"></i>
							</button>
							<p class="text-secondary my-auto mx-3">1 стр</p>
							<button type="button" class="btn btn-outline-secondary rounded-circle rotate-btn" onclick="set_design_page(3, 2)">
								<i class="fas fa-angle-right"></i>
							</button>
						</div>

						<div class="bg-white rounded p-3 mt-3">
							<div class="custom-file">
								<input type="file" name="design" class="custom-file-input" onchange="handle_files(this.files, 2)">
								<label class="custom-file-label" id="label-2" data-browse="Загрузить">Загрузить оформление</label>
							</div>
							<div class="pt-2">
								<a class="text-secondary" href="https://yadi.sk/d/0csN12NBusKSTA?w=1">Шаблоны</a>
							</div>
						</div>
					</div>

					<div id="div-design-3" style="display: none;">
						<div class="mx-auto" id="design-3" style="height: 355px; width: 252px;">
							<div class="mt-5" id="load_file-3" style="
									height: 355px;
									width: 252px;
									background-image: url(/static/image/cal-2.svg);
									background-repeat: no-repeat;">
								<div class="design bg-white" style="height: 355px;"></div>
							</div>
						</div>

						<div class="d-flex justify-content-center p-3 mt-3">
							<button type="button" class="btn btn-outline-secondary rounded-circle rotate-btn" onclick="set_design_page(2, 3)">
								<i class="fas fa-angle-left"></i>
							</button>
							<p class="text-secondary my-auto mx-3">2 стр</p>
							<button type="button" class="btn btn-outline-secondary rounded-circle rotate-btn" onclick="set_design_page(4, 3)">
								<i class="fas fa-angle-right"></i>
							</button>
						</div>

						<div class="bg-white rounded p-3 mt-3">
							<div class="custom-file">
								<input type="file" name="design" class="custom-file-input" onchange="handle_files(this.files, 3)">
								<label class="custom-file-label" id="label-3" data-browse="Загрузить">Загрузить оформление</label>
							</div>
							<div class="pt-2">
								<a class="text-secondary" href="https://yadi.sk/d/0csN12NBusKSTA?w=1">Шаблоны</a>
							</div>
						</div>
					</div>

					<div id="div-design-4" style="display: none;">
						<div class="mx-auto" id="design-4" style="height: 355px; width: 252px;">
							<div class="mt-5" id="load_file-4" style="
									height: 355px;
									width: 252px;
									background-image: url(/static/image/cal-2.svg);
									background-repeat: no-repeat;">
								<div class="design bg-white" style="height: 355px;"></div>
							</div>
						</div>

						<div class="d-flex justify-content-center p-3 mt-3">
							<button type="button" class="btn btn-outline-secondary rounded-circle rotate-btn" onclick="set_design_page(3, 4)">
								<i class="fas fa-angle-left"></i>
							</button>
							<p class="text-secondary my-auto mx-3">3 стр</p>
							<button type="button" class="btn btn-outline-secondary rounded-circle rotate-btn" disabled><i class="fas fa-angle-right"></i></button>
						</div>

						<div class="bg-white rounded p-3 mt-3">
							<div class="custom-file">
								<input type="file" name="design" class="custom-file-input" onchange="handle_files(this.files, 4)">
								<label class="custom-file-label" id="label-4" data-browse="Загрузить">Загрузить оформление</label>
							</div>
							<div class="pt-2">
								<a class="text-secondary" href="https://yadi.sk/d/0csN12NBusKSTA?w=1">Шаблоны</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-4 mt-3 mt-md-0">
					<div class="bg-white rounded text-secondary p-3">
						<div class="text-center"><h4>{{ product.name }}</h4></div>
						<div class="text-right display-4 py-3">{{ product.price }}р</div>

						<div class="row mt-3">
							{% for char in characteristic_list %}
							<div class="col-4 btn-group dropleft mb-3" >
								<a class="text-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ char.0 }}</a>
								<div class="dropdown-menu p-4 text-muted" style="width: 600px;">
									<h5>{{ char.0 }}</h5>
									<p>У вас есть выбор - из 25 фиксированных форматов для Flyer plano. Или можете распланировать размер как хотите в свободном формате.</p>

									<p>Фиксированные форматы:</p>
									<p>DIN A3 = 297 x 420 мм и 420 x 297 мм</p>
									<p>DIN A4 = 210 x 297 мм и 297 x 210 мм</p>
									<p>DIN A5 = 148 x 210 мм и 210 x 148 мм</p>
									<p>DIN A6 = 105 x 148 мм и 148 x 105 мм</p>
									<p>DIN A7 = 74 x 105 мм и 105 x 74 мм</p>
									<p>DIN A8 = 52 x 74 мм и 74 x 52 мм</p>
									<p>длина DIN 99 = 99 x 210 и 210 x 99 мм</p>
									<p>длина DIN 100 = 100 x 210 и 210 x 100 мм</p>
									<p>DIN длинный 105 = 105 x 210 мм и 210 x 105 мм</p>
									<p>1/2 портретная A4 = 105 x 297 мм</p>

									<p>Квадрат : 210 x 210 мм, 148 x 148 мм,
									120 x 120 мм, 105 x 105 мм, 100 x 100 мм</p>

									<p>Размеры формата относятся к окончательному формату.</p>

									<p>Что касается наших бесплатных форматов, мы хотели бы отметить,
										что по причинам, связанным с производством, не все комбинации длины и высоты могут быть реализованы.
										Если ваш свободный формат содержит такую ​​комбинацию, наш мастер подсказок поможет вам,
										и вы сможете изменить значения там.</p>

									<p>Также обратите внимание на допуск под обрез , который необходимо добавить к размерам.</p>
								</div>
							</div>
							<div class="col-8">
								<select name="{{ char.0 }}" class="select form-control form-control-sm mt-2 mt-md-0">
								{% for char_value_list in char.1.items %}
									{% for char_value in char_value_list.1 %}
									<option value="{{ char_value }}">{{ char_value }}</option>
									{% endfor %}
								{% endfor %}
								</select>
							</div>
							{% endfor %}
						</div>

						<div class="form-group mt-3">
							<label for="id_count" class=" requiredField">Количество</label>
							<div class="row">
								<div id="div_id_count" class="col-6 mb-3">
									<input type="number" name="count" min="1"
												 class="numberinput form-control" placeholder="Количество"
												 value="{{ product_data.count }}" required="" id="id_count">
								</div>

								<div class="col-6 pl-0">
									<button class="btn btn-primary w-100" type="submit">Сохранить</button>
								</div>
							</div>
						</div>

						<div class="row mt-3">
							<h5 class="col-6">ИТОГО:</h5>
							<h5 class="col-6 text-right">924p</h5>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}